.sider
  .inner-sider
    .inner-logo
      a.nav-link.active(href="/dashboard")
        h3 Finance Tracker
    
    .inner-menu
      ul
        li
          a(href="/dashboard") Tổng quan
        li
          a(href="/incomes") Thu nhập
        li
          a(href="/expenses") Chi tiêu
        
        hr(style="border-color: #495057; margin: 10px 0;")
        
        li
          a.text-danger(href="/logout") 
            | Đăng xuất