//- Path: views/partials/sider.pug
.sider
  .inner-sider
    .inner-logo
      h3 Finance Tracker
    
    ul.inner-menu
      li
        a(href="/") Tổng quan
      li
        a(href="/incomes") Thu nhập
      li
        a(href="/expenses") Chi tiêu