//- Path: views/partials/sider.pug
.sider
  .inner-sider
    .inner-logo
      a.nav-link.active(href="/dashboard")
        h3 Finance Tracker
    
    .inner-menu
      ul
        li
          a(href="/dashboard") Tổng quan
        li
          a(href="/incomes") Thu nhập
        li
          a(href="/expenses") Chi tiêu